* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
}

/* Общий подход для большинства браузеров */
input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
    /* Для Firefox */
}

/* Специально для WebKit браузеров (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    /* Для некоторых WebKit браузеров */
}

.container {
    display: flex;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 100%;
    flex-wrap: wrap;
}

.container__btn {
  display: flex;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column; /* Вертикальное расположение */
  gap: 6px;                /* Убирает отступы между блоками */
}

/* Стилизация выбора интервала дат */
.container__interval {
    display: flex;
    margin-left: 5px;
    width: 740px;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center;
    gap: 15px; /* Расстояние между label и input */
}

/* Делаем группу полей гибкой для одной строки */
.input__interval {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    gap: 15px; /* Расстояние между label и input */
    height: 40px;
}

/* Задаем фиксированную ширину для label */
.input__interval label {
    /* width: 200px; */
    margin-left: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Задаем ширину для input */
.input__interval input {
    width: 180px; /* Фиксированная ширина */
    height: 50px;
    padding-right: 40px;
    box-sizing: border-box; /* Чтобы padding не увеличивал общую ширину */

    text-align: center;
    border: 1.2px solid #ddd;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn__interval {
    display: block;
    width: 50px;
    height: 50px;
    
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 20%;

    font-size: 30px;
    text-align: center;
    padding-top: 2%;
    cursor: pointer;
}

/* Эффекты при наведении и нажатии */
.btn__interval:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.btn__interval:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main__date {
    height: 44px;

    padding-right: 32px;
    border: 0.5px solid rgb(224, 220, 220);
    border-right: 2px solid #ddd;
    cursor: pointer;
}


#date-start, #date-recast,
#date-finish {
    background-image: url('../img/date_calendar32.png');
    background-repeat: no-repeat;
    background-position: right; /* Позиция иконки */
}
/* Конец контейнера стилизации интервала даи */



.operation{
    height: 300px;

    border: .5px dotted #ebe8e8;
    border-radius: 5px;

    text-align: center;
}

.main__btn {
    padding: .7rem;

    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: #115343;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.main__btn:hover,
.table__btn:hover {
    background-color: #5feb4c;
}

.main__btn:active,
.table__btn:active {
    background-color: #115343;
    transform: scale(0.95); /* Кнопка становится чуть меньше */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Имитация тени под кнопкой */
}

.table__btn {
    margin-left: 7px;
    padding: .7rem;
    /* width: 80px; */
    /* height: 40px; */
    /* flex-basis: 100%; */

    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: #115343;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.table__dir {
    width: 610px;
    height: 200px;
    overflow-y: scroll;
    white-space: nowrap;

}

.table__dir__lab {
    width: 740px;
    height: 200px;
    overflow-y: scroll;
    white-space: nowrap;
}

.table__dir__supplys {
    width: 600px;
    height: 400px;
    overflow-y: scroll;
    white-space: nowrap;

}

table {
    table-layout: fixed; /* Включает фиксированный режим */
    width: 100%;
    border-collapse: collapse; /* Схлопывает двойные границы */
}

th,
td {
    font-size: 16px;
    border: 1px solid #ccc; /* Общая граница для всех ячеек */
    padding: 8px;  /* Добавляет отступ внутри ячейки */
    text-align: left;  /* Выравнивание текста в ячейках */
    white-space: nowrap; /* Не переносить текст */
    overflow: hidden; /* Скрыть выходящий контент */
    text-overflow: ellipsis; /* Добавить многоточие */
}

th {
    background-color: #f2f2f2;
    /* Цвет фона для ячеек-заголовков */
}

tr.selected-row {
    background-color: rgb(250, 250, 203);
}

td.selected-cell {
    background-color: rgb(250, 250, 203);
}

.tb__body td {
    font-size: 14px;
    border: 1px solid #ccc;
    /* Общая граница для всех ячеек */
    /* padding: 8px; Добавляет отступ внутри ячейки */
    text-align: left;
    /* Выравнивание текста в ячейках */
}

/* Контейнер таблицы */
.table-container {
    width: 770px;
    height: 200px; /* Высота блока */
    overflow-y: auto; /* Прокрутка по вертикали */
    border: 1px solid #ccc;
    margin-left: 10px;
}

/* Фиксация шапки */
.table-container table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.table-container th {
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 1rem;
    background-color: #f2f2f2; /* Обязательный фон */
    z-index: 2; /* Шапка поверх контента */
    padding: 10px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); /* Тень для красоты */
}

.table-container  th, td {
    word-wrap: break-word; /* Перенос длинных слов */
    border: 1px solid #ddd;
    padding: 8px;
}

tfoot {
    position: sticky;
    bottom: 0;
    background-color: #f2f2f2; /* Чтобы текст не накладывался */
}

.table-container tfoot td {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}


.total {
    padding: 10px 25px 5px 5px;
    text-align: right;

    font-size: 1.4rem;
}

.input__table {
    width: 80px;
    background: rgb(227, 247, 227);
    text-align: right;
    
    font-family: inherit;
    font-size: 1.2rem;
    color: #333;

}

.container-supplys-choice {
    display: flex;
    margin: 10px 0 5px 5px;
    width: 605px;
    flex-wrap: wrap;
    text-align: center;
}
.select__name {
    /* width: 180px; */
    padding: 8px 0 0 20px;

    font-family: inherit;
    font-size: 1.25rem;
    color: #333;

}

.input__main {
    padding: 10px;
    /* margin-bottom: 12px; */
    height: 44px;

    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;

    font-family: inherit;
    font-size: 1.2rem;
    color: #333;
}

/* Командная панедь номер, дата */
.container__main {
    display: flex;
    margin-left: 20px;
    gap: 15px;
    align-items: center;
    height: 50px;

    font-weight: 700;
    font-size: 20px;
}

.container__main label {
    text-align: right;
}

.container__main input {
    text-align: center;
    font-size: 20px;
}
.input__main {
    padding: 10px;
    height: 44px;

    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;

    font-family: inherit;
    color: #333;
}

.main__date {
    height: 44px;

    padding-right: 32px;
    border: 0.5px solid rgb(224, 220, 220);
    border-right: 2px solid #ddd;
    cursor: pointer;
}

.image__btn__edit__main {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    /* Добавление иконки фоном */
    background-image: url('../img/edit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%; /* Регулирует размер картинки в % */
}

/* Эффекты при наведении и нажатии */
.image__btn__edit__main:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.image__btn__edit__main:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Конец командной панели номер, дата */

/* Модальные окна */
.modal {
    display: none;
}

.modal2 {
    display: none;
}

.modal.open {
    display: block;
    position: fixed;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;
    background: #fff;
    z-index: 200;
    padding: 1.5rem;
    border-radius: 5px;
}

.modal2.open {
    display: block;
    position: fixed;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;
    width: 680px;
    background: #fff;
    z-index: 400;
    padding: 1.5rem;
    border-radius: 5px;
}

.modal.open+.modal-backdrop {
    display: block;
}

.modal2.open+.modal-backdrop2 {
    display: block;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
}

.modal-backdrop2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 300;
}


#sample-modal {
    max-width: 550px;
}

#sample-modal input[type="number"] {
    font-size: 1.2rem;
    width: 80px;
    text-align: right;
}

#sample-modal label {
    width: 300px;
}
/* Стилизация checkbox*/
.checkbox_div {
    position: relative;
    margin-left: 10px;
}

.checkbox_div input {
    appearance: none;
    position: absolute;
}

.checkbox_div label {
    position: absolute;
    
    align-items: center;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 15px;
    font-size: 1.2rem;
    color: #444;
    cursor: pointer;
}

.checkbox_label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;

    position: absolute;
    top: 9px;
    left: 5px;
    z-index: 1;

}

.checkbox_label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    background: #238107;
    border-radius: 5px;
    background-size: 16px 16 px;
    opacity: 0;

    position: absolute;
    top: 10px;
    left: 6px;
    z-index: 2;
}

.checkbox_input:checked + .checkbox_label::after {
    opacity: 1;
}

/* Стилизация дат списка надходжень */
.supplys-label {
    padding: 8px 5px 0 5px;

    font-size: 20px;
    text-align: center;
}


.supplys-date {
    margin: 5px 10px 2px 10px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border: 0.5px solid rgb(224, 220, 220);
    border-right: 2px solid #ddd;
    cursor: pointer;
}

/* Стилизация всплывающего окна */
#toast-container {
    position: fixed; /* Фиксирует контейнер относительно окна браузера */
    bottom: 20px;    /* Отступ снизу */
    right: 20px;     /* Отступ справа */
    z-index: 1000;   /* Чтобы сообщения были поверх всего */
    display: flex;
    flex-direction: column; /* Сообщения будут идти друг за другом по вертикали */
    gap: 10px;
}

.toast {
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Изначально скрыто */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    min-width: 250px;
    text-align: center;
}

.toast.show {
    opacity: 1; /* Показываем при добавлении класса */
    visibility: visible;
}

/* Кнопки для коммандной панели */
.image__btn__calculate {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    /* Добавление иконки фоном */
    background-image: url('../img/calculate.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%; /* Регулирует размер картинки в % */
}

.image__btn__add {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    /* Добавление иконки фоном */
    background-image: url('../img/add.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%; /* Регулирует размер картинки в % */
}

.image__btn__edit {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    /* Добавление иконки фоном */
    background-image: url('../img/edit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%; /* Регулирует размер картинки в % */
}

.image__btn__remove {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    /* Добавление иконки фоном */
    background-image: url('../img/delete_40623.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%; /* Регулирует размер картинки в % */
}

/* Эффекты при наведении и нажатии */
.image__btn__calculate:hover,.image__btn__edit:hover,
.image__btn__add:hover,
.image__btn__remove:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.image__btn__calculate:active,.image__btn__edit:active,
.image__btn__add:active,
.image__btn__remove:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Класс для всплывающей подсказки */
.tooltip {
  position: fixed;
  padding: 15px;
  border: 1px dotted #b3b3b3;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background: black;
  z-index: 100;
}
